{{ define "content" }}
    {{ $paginator := .Paginate (where .Pages "Type" "post") 5 }}
    {{ range $paginator.Pages }}
       {{ .Render "summary" }}
    {{ end }}
    <nav class="mt-4" aria-label="Page navigation example">
        <ul class="pagination">
          {{ if .Paginator.HasPrev }}
            <li class="page-item"><a class="page-link" href="{{ .Paginator.Prev.URL }}">Previous</a></li>
          {{ end }}
          {{ if .Paginator.HasNext }}
            <li class="page-item"><a class="page-link" href="{{ .Paginator.Next.URL }}">Next</a></li>
          {{ end }}
        </ul>
      </nav>
{{ end }}
